# Environment
NODE_ENV=development
PORT=4321
SESSION_LIMIT=5

# Redis
REDIS_URL=redis://default:REDIS_PASSWORD@localhost:6300

# JWT
JWT_KID='rxKmLFnFu1vEJrOdaz3leoYx3iJRMEz9smrLY88w4VI='

# Origin
WEB_ORIGIN=http://localhost:3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:POSTGRES_PASSWORD@localhost:5401/POSTGRES_DB
DATABASE_MAX_RETRIES=5

# Expiries
REFRESH_TOKEN_EXPIRY=3600 # 1h
EMAIL_VERIFICATION_CODE_EXPIRY=300 # 5m
ACCESS_TOKEN_EXPIRY=300 # 5m
PHONE_LOGIN_CODE_EXPIRY=300 # 5m