# Environment
NODE_ENV=development
PORT=4321

# Redis
REDIS_URL=redis://default:REDIS_PASSWORD@localhost:6300

# Origin
WEB_ORIGIN=http://localhost:3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:POSTGRES_PASSWORD@localhost:5401/POSTGRES_DB
DATABASE_MAX_RETRIES=5

# Expiries
EMAIL_VERIFICATION_CODE_EXPIRY=300 # 5m