# Environment
NODE_ENV=development
PORT=4321
MAX_SESSION_PER_ACCOUNT=5
SESSION_MAX_AGE=28800 # 8h

# SHA256-HMAC
HMAC_SECRET_KEY='gUqtaaAw5Ap2eUKrf7BOImQ1hTDsBODM5RX3cQxNroU='

# Redis
REDIS_URL=redis://default:REDIS_PASSWORD@localhost:6300

# JWT
JWT_KID=your_secret_uuid

# Origin
WEB_ORIGIN=http://localhost:3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:POSTGRES_PASSWORD@localhost:5401/POSTGRES_DB
DATABASE_MAX_RETRIES=5

# Expiries
REFRESH_TOKEN_EXPIRY=3600 # 1h
CLIENT_EXPIRY=900 # 15m
ACCESS_TOKEN_EXPIRY=300 # 5m